ase==3.22.1
datasets==2.18.0
fschat==0.2.36
hydra-core==1.3.2
ipython==8.23.0
matplotlib==3.8.4
numpy==1.26.4
omegaconf
peft
pytorch_lightning
sentencepiece
setproctitle
torch_optimizer
tqdm
transformers
wandb
hydra-submitit-launcher
torch==2.3.0
accelerate==0.22.0
torchrl-nightly
tensordict-nightly